### 대회 문제
1. 여행 관련 탄소발자국 계산기 구축
- 여행 영역 (교통, 숙소, F&B, 관광, 쇼핑 등)별 탄소발자국 계산기 구축
- 해외여행 탄소발자국 계산기 참고 (carbon footprint, carbon emission calculator)
- 엑셀 및 프로토타입으로 제출 가능
- 평가 기준
    - 탄소배출량 산출논리
    - 내외부 데이터 활용도 및 충실도 → **탄소 배출 관련 공공데이터 활용**
    - 구성의 타당성 : 입력값(여행기간, 동반여행자수 등) 세부영역 개수
  
2. 친환경 제주여행 루트와 팁 제안
- 대학생 3인이 봄, 가을에 떠나는 3박 4일 친환경 제주여행 루트 짜기 → **지역 행사, 축제 정보 활용**
- 출발지는 자유로 하되, 아래 조건 만족
    1) 경비 인당 70~100만원 내
    2) 출발지 자유, 숙박 필수, 음식업종 최소 2회/일, 교통수단 최소 2회/4일
    3) 제주관광공사 추천 여행지(유형별) 필수 방문
        - 관광지 : 자연관련 2곳 이상, 활동 1곳 이상
        - 음식점 : 2곳 이상
        - 숙박 : 1곳 이상
- 평가 기준
    - 단순히 탄소배출량을 최소화하는 여행루트가 아닌, 최적배출량을 논리적으로 제안
    - 매력도 : 여행코스의 구성력/흥미와 매력도, 코스 참신성, 다양성 등
    - 환경적 지속가능성

### 서류 평가 기준
- 내/외부 데이터의 논리적 활용 수준
- 탄소배출량 산출 로직 적용
- 여행 루트 설계의 참신성
- 친환경 소비 참여유도 방안 제시

### 외부 데이터
1. 제주관광공사  
https://www.data.go.kr/tcs/dss/selectDataSetList.do?keyword=%EC%A0%9C%EC%A3%BC%EA%B4%80%EA%B4%91%EA%B3%B5%EC%82%AC&brm=&svcType=&extsn=&recmSe=N
2. 비짓제주  
https://m.visitjeju.net/kr#null

### 데이터

In [1]:
import pandas as pd

#### 제주지역_매출액상위_가맹점 (JEJU_MERCHANT.CSV)
- 2021.9-11월, 2022.3-5월 기간내 제주지역 비거주자의 제주지역 매출기준 상위가맹점

In [4]:
d1 = pd.read_csv('../data/raw/JEJU_MERCHANT.csv',encoding='cp949')
d1

,YR,MCT_NM,MCT_BRN,LG_CAT,LG_CAT_NM,MD_CAT,MD_CAT_NM,MCT_BSE_AR,MNTH_SALES_PCTL,DAW_CCD,APV_TMT_CD,AGE_GP,SEX_CCD,UE_CT
0,2021,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,1,4_09_12,4_35_39,F,42
1,2021,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,2,6_15_18,2_25_29,F,42
2,2022,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,3,7_18_21,3_30_34,M,42
3,2022,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,5,7_18_21,3_30_34,F,42
4,2021,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,6,6_15_18,2_25_29,M,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316169,2022,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,1_상위10%이상,2,5_12_15,1_20_24,M,42
316170,2021,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,1_상위10%이상,4,6_15_18,1_20_24,M,42
316171,2021,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,1_상위10%이상,5,6_15_18,1_20_24,M,42
316172,2022,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,1_상위10%이상,4,7_18_21,1_20_24,M,42
316173,2022,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,1_상위10%이상,1,7_18_21,1_20_24,F,98

#### 렌터카 (RENT.CSV)
- 2021.9-11월, 2022.3-5월 기간내 신한카드 올댓여행 렌터가 예약 상위차종

In [6]:
d2 = pd.read_csv('../data/raw/RENT.csv', encoding='cp949')
d2

      YR  RANK       MODEL   TYPE
0   2021     1       3세대K5     중형
1   2021     2       올뉴아반떼    중소형
2   2021     3      소나타 DN     중형
3   2021     4        올뉴K3    중소형
4   2021     5   LF소나타뉴라이즈     중형
5   2021     6       더뉴그랜져    중대형
6   2021     7  더올뉴제네시스G80    중대형
7   2021     8       그랜져IG    중대형
8   2021     9       팰리세이드  대형 RV
9   2021    10          K8    중대형
10  2021    11     더올뉴스포티지     RV
11  2021    12      4세대카니발     승합
12  2021    13     그랜드스타렉스     승합
13  2021    14         QM3  소형 RV
14  2021    15         셀토스  소형 RV
15  2021    16  더올뉴제네시스G70    중대형
16  2021    17         뉴K3    중소형
17  2021    18       쏘울부스터    중소형
18  2021    19      4세대쏘렌토     RV
19  2022     1       3세대K5     중형
20  2022     2       올뉴아반떼    중소형
21  2022     3       더뉴그랜져    중대형
22  2022     4   LF소나타뉴라이즈     중형
23  2022     5        더뉴모닝     경차
24  2022     6          코나  소형 RV
25  2022     7        올뉴K3    중소형
26  2022     8       소나타DN     중형
27  2022     9     더올뉴스포티지     RV
28  2022    10       더뉴싼타페     RV
29  2022    11        뉴티볼리  소형 RV
30  2022    12    뉴그랜드스타렉스     승합
31  2022    13       팰리세이드  대형 RV
32  2022    14       올뉴카니발     승합
33  2022    15         QM6     RV
34  2022    16        더뉴레이     경차
35  2022    17    제네시스GV70  대형 RV
36  2022    18      4세대카니발     승합
37  2022    19        스타리아     승합
38  2022    20     제네시스G70    중대형
39  2022    21  더올뉴제네시스G80    중대형

#### 제주행_항공 (BSP.CSV)
- 2021.9-11월, 2022.3-5월 기간내 항공여객판매대금 정산 데이터

In [7]:
d3 = pd.read_csv('../data/raw/BSP.csv', encoding='cp949')
d3

,LSP_RID,MCT_NM,SEX_CCD,CLN_AGE,AVI_CO_CD_VL,DPF_AOT_CD_VL,ARV_AOT_CD_VL,CNT
0,20211103,주)대한항공,F,24,KE,GMP,CJU,6
1,20210920,주)대한항공,F,25,KE,GMP,CJU,6
2,20220314,주)대한항공,F,25,KE,GMP,CJU,6
3,20220503,주)대한항공,F,25,KE,GMP,CJU,6
4,20211015,주)대한항공,M,26,KE,GMP,CJU,6
...,...,...,...,...,...,...,...,...
13851,20220402,(주)아시아나항공(항공권판매,M,53,OZ,GMP,CJU,23
13852,20220331,(주)아시아나항공(항공권판매,M,37,OZ,GMP,CJU,25
13853,20220406,(주)아시아나항공(항공권판매,M,49,OZ,GMP,CJU,26
13854,20220401,(주)아시아나항공(항공권판매,M,37,OZ,GMP,CJU,27
13855,20220504,(주)아시아나항공(항공권판매,M,43,OZ,GMP,CJU,45

#### 제주_관광지입장 (JT_TRRSRT_ENTRN_LIST.CSV)
- 제주 관광소비행태 파악을 위한 관광지 입장 데이터

In [8]:
d4 = pd.read_csv('../data/raw/JT_TRRSRT_ENTRN_LIST.csv', encoding='cp949')
d4

,CL_NM,TRRSRT_NM,ADDR,TEL_NO,TOT_ENTRN_NMPR_CO,SETLE_PRICE,ENTRN_DE
0,기타,봄그리고가을리조트,제주 서귀포시 성산읍 해맞이해안로 2660 시흥근생및주택,647842211.0,2,18000,20220301
1,기타,토스카나호텔,제주 서귀포시 용흥로66번길 158-7,647357000.0,2,57230,20220301
2,기타,산방산탄산온천,제주 서귀포시 안덕면 사계북로41번길 192,647928300.0,5,37500,20220301
3,기타,해비치호텔앤드리조트(섬모라),제주 서귀포시 표선면 민속해안로 537,647808322.0,1,30600,20220301
4,레저관광,우도잠수함,제주 서귀포시 성산읍 성산등용로 112-7,647842333.0,2,82400,20220301
...,...,...,...,...,...,...,...
1048569,공연전시,빛의벙커,제주 서귀포시 성산읍 고성리 2039-22,15222653.0,2,36000,20220524
1048570,공연전시,빛의벙커,제주 서귀포시 성산읍 고성리 2039-22,15222653.0,1,18000,20220524
1048571,테마파크,스누피가든,제주 제주시 구좌읍 금백조로 930,649031111.0,2,36000,20220524
1048572,공연전시,점보빌리지,제주 서귀포시 안덕면 평화로319번길 31-11,647921233.0,3,32500,20220524
1048573,테마파크,스누피가든,제주 제주시 구좌읍 금백조로 930,649031111.0,4,60000,20220524

#### 제주_비짓제주 (JT_MT_ACCTO_TRRSRT_SCCNT_LIST.CSV)
- 제주 관광수요예측을 위한 비짓제주 조회 데이터

In [10]:
d5 = pd.read_csv('../data/raw/JT_MT_ACCTO_TRRSRT_SCCNT_LIST.csv', encoding='cp949')
d5

,CL_CD,CL_NM,AREA_NM,ADDR,BASE_YEAR,ALL_TOTAL_CO,JAN_VIEWS_CO,FEB_VIEWS_CO,MAR_VIEWS_CO,APR_VIEWS_CO,MAY_VIEWS_CO,JUN_VIEWS_CO,JULY_VIEWS_CO,AUG_VIEWS_CO,SEP_VIEWS_CO,OCT_VIEWS_CO,NOV_VIEWS_CO,DEC_VIEWS_CO
0,c3,숙박,메리어트관 제주신화월드 호텔앤리조트,제주특별자치도 서귀포시 안덕면 신화역사로304번길 38,2021,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,NaN,NaN,NaN
1,c3,숙박,1915 지오하우스,제주특별자치도 서귀포시 성산읍 성산등용로 14,2021,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,NaN,NaN,NaN
2,c3,숙박,521 게스트 하우스,제주특별자치도 제주시 애월읍 중용길 52-1 (신엄리) 521 게스트 하우스,2021,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN,NaN
3,c3,숙박,가까이에파도소리,제주도 제주시 외도2동 연대마을길 44,2021,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN
4,c3,숙박,가름게스트하우스,제주특별자치도 서귀포시 법환하로9번길 10,2021,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22215,c4,음식점,흑돼지촌,제주특별자치도 제주시 한림읍 한림상로 62,2022,14,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22216,c4,음식점,흑돼지킹생구이전문점,제주특별자치도 제주시 도령로11길 26-9,2022,16,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22217,c4,음식점,흑소랑,제주특별자치도 제주시 연북로 631,2022,33,0.0,0.0,0.0,0.0,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22218,c4,음식점,흑염소마루,제주특별자치도 서귀포시 남원읍 태위로663번길 1-1,2022,30,0.0,0.0,0.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22219,c4,음식점,흑한우명품관,제주특별자치도 서귀포시 일주동로 8421,2022,95,0.0,0.0,0.0,0.0,95.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### 식료품목별_탄소배출량 (FOOD_ITEM.CSV)
- 식료품목별 탄소배출량 데이터

In [11]:
d6 = pd.read_csv('../data/raw/FOOD_ITEM.csv', encoding='cp949')
d6

                                      item   CO2
0                             1.1.1.1 Rice  0.073
1                            1.1.1.2 Bread  0.073
2         1.1.1.3 Other breads and cereals  0.073
3                     1.1.2 Pasta products  0.073
4    1.1.3.1 Buns, crispbread and biscuits  0.564
..                                     ...    ...
308                    Central\ngovernment  0.120
309                     Local\nAuthorities  0.111
310        Gross fixed\ncapital\nformation  0.275
311                              Valuables  0.553
312                 Changes in inventories  0.328

[313 rows x 2 columns]

#### 교통수단별_탄소배출량 (TRANS_CO2.CSV)
- 교통수단별 탄소배출량 데이터

In [13]:
d7 = pd.read_csv('../data/raw/TRANS_CO2.csv', encoding='cp949')
d7

     LG_CAT MD_CAT             SM_CAT FUEL_TYPE  FUEL_COST     SCALE    FACTOR
0      대중교통     버스               시내버스       CNG        NaN  kgCO2/km  0.030306
1      대중교통     버스               시내버스        경유        NaN  kgCO2/km  0.034620
2      대중교통     버스               시외버스        경유        NaN  kgCO2/km  0.045644
3      대중교통     버스               고속버스        경유        NaN  kgCO2/km  0.045644
4      대중교통     택시                 택시       NaN        NaN  kgCO2/km  0.194300
...     ...    ...                ...       ...        ...       ...       ...
4725    자동차     혼다     오딧세이 3.5(2020)  Gasoline        9.2  kgCO2/km  0.238921
4726    자동차     혼다     오딧세이 3.5(2019)  Gasoline        9.2  kgCO2/km  0.238921
4727    자동차     혼다      파일럿 엘리트(2021)  Gasoline        8.4  kgCO2/km  0.261675
4728    자동차     혼다      파일럿 3.5(2019)  Gasoline        8.4  kgCO2/km  0.261675
4729    자동차     혼다  파일럿 3.5 엘리트(2019)  Gasoline        8.4  kgCO2/km  0.261675

[4730 rows x 7 columns]

#### 지번단위_온실가스배출량 (TB_ECO_BUILDING_GHG_GIS_JEJU_1920.CSV)
- 제주특별자치시 건물 온실가스배출량 시군구별 위치정보결합

#### 제주발_택배현황(전체) (BC_JESU_SEND_SCLS.CSV)
- 제주시에서 제주 외 국내 기타지역으로 발송한 택배 물품의 품목별 집계 건수  
(소분류까지 제공)

In [14]:
d8 = pd.read_csv('../data/raw/BC_JESU_SEND_SCLS.csv', encoding='cp949')
d8

,DL,DL_GD_LCLS_NM,DL_GD_LCLS_CD,DL_GD_MCLS_NM,DL_GD_MCLS_CD,DL_GD_SCLS_NM,DL_GD_SCLS_CD,SEND_CTPV_NM,SEND_CTPV_CD,SEND_CTGG_NM,SEND_CTGG_CD,SEND_EMD_NM,SEND_LGDNG_CD,INVC_COUNT
0,20210911,가구/인테리어,11,DIY자재/용품,1111,가구부속품,111111,제주특별자치도,50,제주시,50110,용담이동,5011010900,18
1,20210911,가구/인테리어,11,DIY자재/용품,1111,가구부속품,111111,제주특별자치도,50,제주시,50110,노형동,5011012200,5
2,20210911,가구/인테리어,11,DIY자재/용품,1111,가구부속품,111111,제주특별자치도,50,제주시,50110,연동,5011013700,15
3,20210911,가구/인테리어,11,DIY자재/용품,1111,가구부속품,111111,제주특별자치도,50,서귀포시,50130,대정읍 보성리,5013025029,6
4,20210911,가구/인테리어,11,DIY자재/용품,1111,벽지/시트지,111114,제주특별자치도,50,제주시,50110,이도이동,5011010400,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18810,20220305,화장품/미용,20,기타화장품/미용,2099,기타화장품/미용,209999,제주특별자치도,50,서귀포시,50130,대정읍 하모리,5013025022,3
18811,20220305,화장품/미용,20,기타화장품/미용,2099,기타화장품/미용,209999,제주특별자치도,50,서귀포시,50130,남원읍 위미리,5013025327,26
18812,20220305,화장품/미용,20,기타화장품/미용,2099,기타화장품/미용,209999,제주특별자치도,50,서귀포시,50130,성산읍,5013025900,4
18813,20220305,화장품/미용,20,기타화장품/미용,2099,기타화장품/미용,209999,제주특별자치도,50,서귀포시,50130,표선면,5013032000,3
18814,20220305,화장품/미용,20,기타화장품/미용,2099,기타화장품/미용,209999,제주특별자치도,50,서귀포시,50130,표선면 표선리,5013032021,5

#### 제주발_택배현황(식품) (BC_JESU_SEND_DCLS.CSV)
- 제주시에서 제주 외 국내 기타지역으로 발송한 택배 물품의 품목별 집계 건수  
(대분류 기준 식품은 세분류까지 제공)

In [16]:
d9 = pd.read_csv('../data/raw/BC_JESU_SEND_DCLS.csv', encoding='cp949')
d9

,DL,DL_GD_LCLS_NM,DL_GD_LCLS_CD,DL_GD_MCLS_NM,DL_GD_MCLS_CD,DL_GD_SCLS_NM,DL_GD_SCLS_CD,DL_GD_DCLS_NM,DL_GD_DCLS_CD,SEND_CTPV_NM,SEND_CTPV_CD,SEND_CTGG_NM,SEND_CTGG_CD,SEND_EMD_NM,SEND_LGDNG_CD,INVC_COUNT
0,20210911,식품,15,가공식품,1510,누룽지,151010,누룽지,15101001,제주특별자치도,50,제주시,50110,노형동,5011012200,4
1,20210911,식품,15,가공식품,1510,누룽지,151010,누룽지,15101001,제주특별자치도,50,제주시,50110,회천동,5011013300,11
2,20210911,식품,15,가공식품,1510,누룽지,151010,누룽지,15101001,제주특별자치도,50,제주시,50110,구좌읍 김녕리,5011025634,22
3,20210911,식품,15,가공식품,1510,누룽지,151010,누룽지,15101001,제주특별자치도,50,제주시,50110,조천읍,5011025900,3
4,20210911,식품,15,가공식품,1510,누룽지,151010,누룽지,15101001,제주특별자치도,50,제주시,50110,조천읍 함덕리,5011025924,173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10422,20220305,식품,15,기타식품,1599,기타식품,159999,기타식품,15999999,제주특별자치도,50,서귀포시,50130,표선면 표선리,5013032021,51
10423,20220305,식품,15,기타식품,1599,기타식품,159999,기타식품,15999999,제주특별자치도,50,서귀포시,50130,표선면 성읍리,5013032023,355
10424,20220305,식품,15,기타식품,1599,기타식품,159999,기타식품,15999999,제주특별자치도,50,서귀포시,50130,표선면 가시리,5013032024,183
10425,20220305,식품,15,기타식품,1599,기타식품,159999,기타식품,15999999,제주특별자치도,50,서귀포시,50130,표선면 세화리,5013032025,389
10426,20220305,식품,15,기타식품,1599,기타식품,159999,기타식품,15999999,제주특별자치도,50,서귀포시,50130,표선면 토산리,5013032026,192

In [33]:
import os
os.listdir("../data/rename")

['01_JEJU_MERCHANT.csv',
 '02_RENT.csv',
 '03_BSP.csv',
 '04_JT_TRRSRT_ENTRN_LIST.csv',
 '05_JT_MT_ACCTO_TRRSRT_SCCNT_LIST.csv',
 '06_FOOD_ITEM.csv',
 '07_TRANS_CO2.csv',
 '08_TB_ECO_BUILDING_GHG_GIS_JEJU_1920.csv',
 '09_BC_JESU_SEND_SCLS.csv',
 '10_BC_JESU_SEND_DCLS.csv']

In [21]:
for i, file in enumerate(os.listdir("../data/rename")):
    globals()[f'data{i+1}'] = pd.read_csv("../data/rename/"+file, encoding='cp949')

In [34]:
data1

,YR,MCT_NM,MCT_BRN,LG_CAT,LG_CAT_NM,MD_CAT,MD_CAT_NM,MCT_BSE_AR,MNTH_SALES_PCTL,DAW_CCD,APV_TMT_CD,AGE_GP,SEX_CCD,UE_CT
0,2021,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,1,4_09_12,4_35_39,F,42
1,2021,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,2,6_15_18,2_25_29,F,42
2,2022,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,3,7_18_21,3_30_34,M,42
3,2022,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,5,7_18_21,3_30_34,F,42
4,2021,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,6,6_15_18,2_25_29,M,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316169,2022,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,1_상위10%이상,2,5_12_15,1_20_24,M,42
316170,2021,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,1_상위10%이상,4,6_15_18,1_20_24,M,42
316171,2021,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,1_상위10%이상,5,6_15_18,1_20_24,M,42
316172,2022,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,1_상위10%이상,4,7_18_21,1_20_24,M,42
316173,2022,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,1_상위10%이상,1,7_18_21,1_20_24,F,98

In [39]:
import os
os.listdir("../data/rename")

['c1_FOOD_ITEM.csv',
 'c2_TRANS_CO2.csv',
 'c3_TB_ECO_BUILDING_GHG_GIS_JEJU_1920.csv',
 'c4_BC_JESU_SEND_SCLS.csv',
 'c5_BC_JESU_SEND_DCLS.csv',
 't1_JEJU_MERCHANT.csv',
 't2_RENT.csv',
 't3_BSP.csv',
 't4_JT_TRRSRT_ENTRN_LIST.csv',
 't5_JT_MT_ACCTO_TRRSRT_SCCNT_LIST.csv']

In [40]:
for i, file in enumerate(os.listdir("../data/rename")):
    globals()[file[:2]] = pd.read_csv("../data/rename/"+file, encoding='cp949')

In [41]:
c1

                                      item   CO2
0                             1.1.1.1 Rice  0.073
1                            1.1.1.2 Bread  0.073
2         1.1.1.3 Other breads and cereals  0.073
3                     1.1.2 Pasta products  0.073
4    1.1.3.1 Buns, crispbread and biscuits  0.564
..                                     ...    ...
308                    Central\ngovernment  0.120
309                     Local\nAuthorities  0.111
310        Gross fixed\ncapital\nformation  0.275
311                              Valuables  0.553
312                 Changes in inventories  0.328

[313 rows x 2 columns]

In [42]:
c2

     LG_CAT MD_CAT             SM_CAT FUEL_TYPE  FUEL_COST     SCALE    FACTOR
0      대중교통     버스               시내버스       CNG        NaN  kgCO2/km  0.030306
1      대중교통     버스               시내버스        경유        NaN  kgCO2/km  0.034620
2      대중교통     버스               시외버스        경유        NaN  kgCO2/km  0.045644
3      대중교통     버스               고속버스        경유        NaN  kgCO2/km  0.045644
4      대중교통     택시                 택시       NaN        NaN  kgCO2/km  0.194300
...     ...    ...                ...       ...        ...       ...       ...
4725    자동차     혼다     오딧세이 3.5(2020)  Gasoline        9.2  kgCO2/km  0.238921
4726    자동차     혼다     오딧세이 3.5(2019)  Gasoline        9.2  kgCO2/km  0.238921
4727    자동차     혼다      파일럿 엘리트(2021)  Gasoline        8.4  kgCO2/km  0.261675
4728    자동차     혼다      파일럿 3.5(2019)  Gasoline        8.4  kgCO2/km  0.261675
4729    자동차     혼다  파일럿 3.5 엘리트(2019)  Gasoline        8.4  kgCO2/km  0.261675

[4730 rows x 7 columns]