In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

plt.style.use('seaborn')
from matplotlib import rc, font_manager
#font_path = "C:/Windows/Fonts/NanumSquareB.TTF"
#font = font_manager.FontProperties(fname=font_path).get_name()
#rc('font', family=font)


import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

for i, file in enumerate(os.listdir("../data/rename")):
    globals()[file[:2]] = pd.read_csv("../data/rename/"+file, encoding='cp949')

In [2]:
t1 = pd.read_csv("../data/juso/t1_주소변환_new.csv")
t4 = pd.read_csv("../data/juso/t4_주소변환.csv", index_col=0)
code = pd.read_csv("../data/juso/제주도 법정동코드.csv", index_col=0)

In [3]:
t1['ADDR_new'].apply(lambda x: x[-1]).value_counts()

1    65128
2    54959
3    31924
4    26899
5    22460
6    21694
0    20264
7    19119
9    18729
8    14624
동     9702
읍     5716
로     2671
면     1756
길      529
Name: ADDR_new, dtype: int64

SGNG_CD
LGDNG_CD

In [5]:
idx = t1[t1['ADDR_new'].apply(lambda x: x[-1] in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0'])]['ADDR_new'].index
t1.loc[idx, 'ADDR_new'] = \
t1.loc[idx, 'ADDR_new'].apply(lambda x: " ".join(x.split()[:-1]))

In [6]:
idx = t1[t1['ADDR_new'].apply(lambda x: x[-1] in ['산'])]['ADDR_new'].index
t1.loc[idx, 'ADDR_new'] = \
t1.loc[idx, 'ADDR_new'].apply(lambda x: " ".join(x.split()[:-1]))

In [11]:
t1[t1['ADDR_new'].apply(lambda x: x[-1]) == '길']['ADDR_new'].value_counts()

Series([], Name: ADDR_new, dtype: int64)

In [10]:
t1[t1['ADDR_new'].apply(lambda x: x[-1]) == '길']['ADDR_new'].value_counts()

t1.loc[t1[t1.ADDR_new=='제주특별자치도  제주시  한림읍  귀덕6길'].index,'ADDR_new'] = '제주특별자치도 제주시 한림읍 귀덕리 1502'
t1.loc[t1[t1.ADDR_new=='제주특별자치도  서귀포시  태평로431번길'].index,'ADDR_new'] = '제주특별자치도 서귀포시 서귀동 544-2'

In [12]:
ro = t1[t1['ADDR_new'].apply(lambda x: x[-1]) == '로']['MCT_NM'].value_counts()
ro_df = pd.DataFrame(columns={'MCT_NM','ADDR_new'})
ro_df = ro_df[['MCT_NM','ADDR_new']]

mct = []
for ro in list(ro.index):
    mct.append(ro)

ro_df['MCT_NM'] = mct

ro_df.loc[0,'ADDR_new'] = '제주특별자치도 서귀포시 서귀동'
ro_df.loc[1,'ADDR_new'] = '제주특별자치도 제주시 용담이동'
ro_df.loc[2,'ADDR_new'] = '제주특별자치도 제주시 연동'
ro_df.loc[3,'ADDR_new'] = '제주특별자치도 서귀포시 토평동'
ro_df.loc[4,'ADDR_new'] = '제주특별자치도 서귀포시 표선면 성읍리'
ro_df.loc[5,'ADDR_new'] = '제주특별자치도 제주시 용담삼동'
ro_df.loc[6,'ADDR_new'] = '제주특별자치도 제주시 이호일동'
ro_df.loc[7,'ADDR_new'] = '제주특별자치도 제주시 도남동'
ro_df.loc[8,'ADDR_new'] = '제주특별자치도 제주시 연동'

for i in range(len(ro_df)):
    t1.loc[t1[t1.MCT_NM==ro_df.loc[i,'MCT_NM']].index,'ADDR_new'] = ro_df.loc[i,'ADDR_new']

In [13]:
idx = t1[t1['ADDR_new'].apply(lambda x: x[-1] in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0'])]['ADDR_new'].index
t1.loc[idx, 'ADDR_new'] = \
t1.loc[idx, 'ADDR_new'].apply(lambda x: " ".join(x.split()[:-1]))

In [14]:
t1['ADDR_new'] = t1['ADDR_new'].apply(lambda x: ' '.join(x.split()))
#t1['ADDR_new'].apply(lambda x: ' '.join(x.split(' ')))

In [15]:
t1['ADDR_new']

0         제주특별자치도 서귀포시 안덕면 사계리
1         제주특별자치도 서귀포시 안덕면 사계리
2         제주특별자치도 서귀포시 안덕면 사계리
3         제주특별자치도 서귀포시 안덕면 사계리
4         제주특별자치도 서귀포시 안덕면 사계리
                  ...
316169        제주특별자치도 제주시 용담이동
316170        제주특별자치도 제주시 용담이동
316171        제주특별자치도 제주시 용담이동
316172        제주특별자치도 제주시 용담이동
316173        제주특별자치도 제주시 용담이동
Name: ADDR_new, Length: 316174, dtype: object

In [16]:
def change_addr(x):
    if '제주특별자치도특별자치도' in x:
        x = x.replace('제주특별자치도특별자치도', '제주특별자치도', 1)
    elif '용담1동' in x:
        x = x.replace('용담1동', '용담일동', 1)
    elif '용담2동' in x:
        x = x.replace('용담2동', '용담이동', 1)
    elif '용담3동' in x:
        x = x.replace('용담3동', '용담삼동', 1)
    elif '일도1동' in x:
        x = x.replace('일도1동', '일도일동', 1)
    elif '일도2동' in x:
        x = x.replace('일도2동', '일도이동', 1)
    elif '이도1동' in x:
        x = x.replace('이도1동', '이도일동', 1)
    elif '이도2동' in x:
        x = x.replace('이도2동', '이도이동', 1)
    elif '삼도1동' in x:
        x = x.replace('삼도1동', '삼도일동', 1)
    elif '삼도2동' in x:
        x = x.replace('삼도2동', '삼도이동', 1)
    elif '북제주군' in x:
        x = x.replace('북제주군', '제주시', 1)
    elif '남제주군' in x:
        x = x.replace('남제주군', '서귀포시', 1)
    else:
        pass
    return x

In [26]:
t1['ADDR_new'] = t1['ADDR_new'].apply(lambda x: x.strip())
t1['ADDR_new'] = t1['ADDR_new'].apply(lambda x : change_addr(x))

In [ ]:
notincode = []
for val in t1['ADDR_new'].values:
    a = code[code['코드값의미'] == val]['코드값'].values
    if a.size == 0:
        notincode.append(val)
        print(val)
    else:
        t1.loc[t1['ADDR_new'] == val, 'SGNG_CD'] = int(str(code[code['코드값의미'] == val]['코드값'].values[0])[:5])
        t1.loc[t1['ADDR_new'] == val, 'LGDNG_CD'] = int(str(code[code['코드값의미'] == val]['코드값'].values[0])[5:])
t1

In [ ]:
t1['LGDNG_CD'].value_counts()

In [ ]:
code

In [31]:
t1['SGNG_CD'] = int(str(code[code['코드값의미'] == val]['코드값'].values[0])[:5])

In [55]:
t1[t1.ADDR_new=='제주특별자치도  서귀포시  태평로431번길']['MCT_NM'].value_counts()

씨유디아일랜드호텔점    251
Name: MCT_NM, dtype: int64

In [51]:
#t1[t1['ADDR_new'].apply(lambda x: " ".join(x.split()[:-1])) == '제주특별자치도특별자치도 제주시 용담3동']

t1[t1['ADDR_new'].apply(lambda x: x[-1]) == '길']['ADDR_new'].value_counts()

제주특별자치도  제주시  한림읍  귀덕6길    278
제주특별자치도  서귀포시  태평로431번길    251
Name: ADDR_new, dtype: int64

In [52]:
t1[t1.ADDR_new=='제주특별자치도  제주시  한림읍  귀덕6길'].index

Int64Index([  8358,   8359,   8360,   8361,   8362,   8363,   8364,   8365,
              8366,   8367,
            ...
            302668, 305091, 308113, 308114, 308115, 310443, 313340, 315294,
            315295, 315296],
           dtype='int64', length=278)

In [67]:
ro_df = pd.DataFrame(columns={'MCT_NM','ADDR_new'})
ro_df = ro_df[['MCT_NM','ADDR_new']]
ro_df

Empty DataFrame
Columns: [MCT_NM, ADDR_new]
Index: []

In [68]:
ro_df['MCT_NM'] = mct

In [69]:
ro_df

              MCT_NM ADDR_new
0    한국맥도날드(유)서귀포DT점      NaN
1   한국맥도날드(유)제주공항DT점      NaN
2  (주)호텔롯데 롯데시티호텔 제주      NaN
3         에스케이엘이씨(주)      NaN
4  주식회사 크리에이티브통제주 성읍      NaN
5             섬나라오메기      NaN
6                 주비      NaN
7        주식회사 탐라원특산품      NaN
8         디스커버리 신제주점      NaN

In [70]:
ro_df.loc[0,'ADDR_new'] = '제주특별자치도 서귀포시 서귀동'
ro_df.loc[1,'ADDR_new'] = '제주특별자치도 제주시 용담이동'
ro_df.loc[2,'ADDR_new'] = '제주특별자치도 제주시 연동'
ro_df.loc[3,'ADDR_new'] = '제주특별자치도 서귀포시 토평동'
ro_df.loc[4,'ADDR_new'] = '제주특별자치도 서귀포시 표선면 성읍리'
ro_df.loc[5,'ADDR_new'] = '제주특별자치도 제주시 용담삼동'
ro_df.loc[6,'ADDR_new'] = '제주특별자치도 제주시 이호일동'
ro_df.loc[7,'ADDR_new'] = '제주특별자치도 제주시 도남동'
ro_df.loc[8,'ADDR_new'] = '제주특별자치도 제주시 연동'

In [71]:
ro_df

              MCT_NM              ADDR_new
0    한국맥도날드(유)서귀포DT점      제주특별자치도 서귀포시 서귀동
1   한국맥도날드(유)제주공항DT점      제주특별자치도 제주시 용담이동
2  (주)호텔롯데 롯데시티호텔 제주        제주특별자치도 제주시 연동
3         에스케이엘이씨(주)      제주특별자치도 서귀포시 토평동
4  주식회사 크리에이티브통제주 성읍  제주특별자치도 서귀포시 표선면 성읍리
5             섬나라오메기      제주특별자치도 제주시 용담삼동
6                 주비      제주특별자치도 제주시 이호일동
7        주식회사 탐라원특산품       제주특별자치도 제주시 도남동
8         디스커버리 신제주점        제주특별자치도 제주시 연동

In [64]:
ro = t1[t1['ADDR_new'].apply(lambda x: x[-1]) == '로']['MCT_NM'].value_counts()
mct = []

for ro in list(ro.index):
    mct.append(ro)

In [65]:
mct

['한국맥도날드(유)서귀포DT점',
 '한국맥도날드(유)제주공항DT점',
 '(주)호텔롯데 롯데시티호텔 제주',
 '에스케이엘이씨(주)',
 '주식회사 크리에이티브통제주 성읍',
 '섬나라오메기',
 '주비',
 '주식회사 탐라원특산품',
 '디스커버리 신제주점']

In [56]:
t1.loc[t1[t1.ADDR_new=='제주특별자치도  제주시  한림읍  귀덕6길'].index,'ADDR_new'] = '제주특별자치도 제주시 한림읍 귀덕리 1502'
t1.loc[t1[t1.ADDR_new=='제주특별자치도  서귀포시  태평로431번길'].index,'ADDR_new'] = '제주특별자치도 서귀포시 서귀동 544-2'

In [ ]:
mct = 

for ro in list(ro.index):
    print(ro)
    print(t1[t1.ADDR_new==ro]['MCT_NM'].value_counts())

In [54]:
for ro in list(ro.index):
    print(ro)
    print(t1[t1.ADDR_new==ro]['MCT_NM'].value_counts())

제주특별자치도  제주시  도령로
한국맥도날드(유)제주공항DT점     619
(주)호텔롯데 롯데시티호텔 제주    394
Name: MCT_NM, dtype: int64
제주특별자치도  서귀포시  일주동로
한국맥도날드(유)서귀포DT점    669
Name: MCT_NM, dtype: int64
제주특별자치도  서귀포시  516로
에스케이엘이씨(주)    351
Name: MCT_NM, dtype: int64
제주특별자치도  서귀포시  표선면  번영로
주식회사 크리에이티브통제주 성읍    195
Name: MCT_NM, dtype: int64
제주특별자치도 제주시 용해로
섬나라오메기    178
Name: MCT_NM, dtype: int64
제주특별자치도 제주시 도리로
주비    163
Name: MCT_NM, dtype: int64
제주특별자치도  제주시  연북로
주식회사 탐라원특산품    78
Name: MCT_NM, dtype: int64
제주특별자치도  제주시  신광로
디스커버리 신제주점    24
Name: MCT_NM, dtype: int64

In [53]:
ro = t1[t1['ADDR_new'].apply(lambda x: x[-1]) == '로']['ADDR_new'].value_counts()
ro

제주특별자치도  제주시  도령로          1013
제주특별자치도  서귀포시  일주동로         669
제주특별자치도  서귀포시  516로         351
제주특별자치도  서귀포시  표선면  번영로     195
제주특별자치도 제주시 용해로             178
제주특별자치도 제주시 도리로             163
제주특별자치도  제주시  연북로            78
제주특별자치도  제주시  신광로            24
Name: ADDR_new, dtype: int64

In [49]:
ro.index

Index(['제주특별자치도  제주시  도령로', '제주특별자치도  서귀포시  일주동로', '제주특별자치도  서귀포시  516로',
       '제주특별자치도  서귀포시  표선면  번영로', '제주특별자치도 제주시 용해로', '제주특별자치도 제주시 도리로',
       '제주특별자치도  제주시  연북로', '제주특별자치도  제주시  신광로'],
      dtype='object')

In [ ]:
읍면동리

In [57]:
t1

,YR,MCT_NM,MCT_BRN,LG_CAT,LG_CAT_NM,MD_CAT,MD_CAT_NM,MCT_BSE_AR,ADDR_new,MNTH_SALES_PCTL,DAW_CCD,APV_TMT_CD,AGE_GP,SEX_CCD,UE_CT,type,change,SGNG_CD,LGDNG_CD
0,2021,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,제주특별자치도 서귀포시 안덕면 사계리 2032-7,3_25%~50%,1,4_09_12,4_35_39,F,42,도로명주소,가능,50110,12200
1,2021,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,제주특별자치도 서귀포시 안덕면 사계리 2032-7,3_25%~50%,2,6_15_18,2_25_29,F,42,도로명주소,가능,50110,12200
2,2022,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,제주특별자치도 서귀포시 안덕면 사계리 2032-7,3_25%~50%,3,7_18_21,3_30_34,M,42,도로명주소,가능,50110,12200
3,2022,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,제주특별자치도 서귀포시 안덕면 사계리 2032-7,3_25%~50%,5,7_18_21,3_30_34,F,42,도로명주소,가능,50110,12200
4,2021,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,제주특별자치도 서귀포시 안덕면 사계리 2032-7,3_25%~50%,6,6_15_18,2_25_29,M,42,도로명주소,가능,50110,12200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316169,2022,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,제주특별자치도 제주시 용담이동 2002,1_상위10%이상,2,5_12_15,1_20_24,M,42,도로명주소,가능,50110,12200
316170,2021,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,제주특별자치도 제주시 용담이동 2002,1_상위10%이상,4,6_15_18,1_20_24,M,42,도로명주소,가능,50110,12200
316171,2021,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,제주특별자치도 제주시 용담이동 2002,1_상위10%이상,5,6_15_18,1_20_24,M,42,도로명주소,가능,50110,12200
316172,2022,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,제주특별자치도 제주시 용담이동 2002,1_상위10%이상,4,7_18_21,1_20_24,M,42,도로명주소,가능,50110,12200
316173,2022,롯데지알에스(주)스카이31푸드에비뉴제주국제공항4층,1068123498,1,요식/유흥,4,기타요식,제주 제주시 공항로 2,제주특별자치도 제주시 용담이동 2002,1_상위10%이상,1,7_18_21,1_20_24,F,98,도로명주소,가능,50110,12200

In [58]:
t1[t1['ADDR_new'].apply(lambda x: x[-1]) == '길']['ADDR_new'].value_counts()

Series([], Name: ADDR_new, dtype: int64)